.button {
  display: flex;
  align-items: center;

  font-weight: bold;
  cursor: pointer;

  margin: 1rem 0;
  padding: 0 20px;
  height: 40px;

  color: $main-background-color;
  background: $new-game-button-color;

  border: none;
  border-radius: $border-radius;

  transition: all 0.1s;

  &:hover {
    transform: scale(1.05);
  }
}
