.cell {
  display: flex;
  justify-content: center;
  align-items: center;

  font-size: 3em;
  font-weight: bold;

  width: $cell-side-normal;
  height: $cell-side-normal;

  border-radius: $border-radius;
  background: $full-cell-color;
  box-shadow: 0 0 30px 10px rgba(243, 215, 116, 0), inset 0 0 0 1px rgba(255, 255, 255, 0);

  &--empty {
    background: $empty-cell-color;
  }

  &--emerged {
    animation: appearance $cell-animation;
  }

  &--merged {
    animation: pop-up $cell-animation;
  }

  // Values
  &--4 {
    background: $cell-4-color;
  }

  &--8 {
    color: $cell-light-color;
    background: $cell-8-color;
  }

  &--16 {
    color: $cell-light-color;
    background: $cell-16-color;
  }

  &--32 {
    color: $cell-light-color;
    background: $cell-32-color;
  }

  &--64 {
    color: $cell-light-color;
    background: $cell-64-color;
  }

  &--128 {
    color: $cell-light-color;
    background: $cell-128-color;
  }

  &--256 {
    color: $cell-light-color;
    background: $cell-256-color;
  }

  &--512 {
    color: $cell-light-color;
    background: $cell-512-color;
  }

  &--1024 {
    color: $cell-light-color;
    background: $cell-1024-color;
  }

  &--2048 {
    color: $cell-light-color;
    background: $cell-2048-color;
  }

  &--over-2048 {
    color: $cell-light-color;
    background: $cell-2048-color;
  }
}

@keyframes appearance {
  from {
    transform: scale(0);
  }
  to {
    transform: scale(1);
  }
}

@keyframes pop-up {
  0% {
    transform: scale(0.8);
  }

  50% {
    transform: scale(1.1);
  }

  100% {
    transform: scale(1);
  }
}
