.game {
  display: flex;
  flex-direction: column;

  &__button {
    font-weight: bold;

    margin: 1rem 0;
    padding: 0 20px;
    height: 40px;
    align-self: flex-end;

    color: $main-background-color;
    background: $new-game-button-color;

    border: none;
    border-radius: $border-radius;
  }
}
