.grid {
  display: grid;
  grid-template-columns: repeat(4, auto);
  grid-template-rows: repeat(4, auto);
  grid-gap: $grid-gap-normal;

  position: relative;

  justify-content: center;
  align-items: center;

  padding: $grid-padding-normal;
  margin: 0 auto;

  background: $grid-background-color;
  border-radius: $border-radius;
}
