.modal {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  opacity: 0;
  visibility: hidden;

  position: absolute;
  top: 32%;

  padding: 1rem 2rem;
  border-radius: $border-radius;

  min-width: 250px;
  min-height: 200px;

  background: $main-background-color;

  transition: all ease-out 3s;

  &--open {
    opacity: 1;
    visibility: visible;
  }
}