@media screen and (max-width: 630px) {
  .grid {
    grid-gap: 0.8rem;
    padding: 0.8rem;
  }

  .cell {
    width: 5rem;
    height: 5rem;
    font-size: 2.2em;
  }
}

@media screen and (max-width: 445px) {
  .grid {
    grid-gap: 0.7rem;
    padding: 0.7rem;
  }

  .cell {
    width: 4rem;
    height: 4rem;
    font-size: 2em;
  }
}

@media screen and (max-width: 375px) {
  .grid {
    grid-gap: 0.6rem;
    padding: 0.6rem;
  }

  .cell {
    width: 3.7rem;
    height: 3.7rem;
    font-size: 1.8em;
  }
}
