$main-color: #776e65;
$main-background-color: #faf8ef;

$grid-background-color: #bbada0;
$new-game-button-color: #8f7a66;

$score-title-color: #eee4da;
$score-number-color: #fff;
$score-background-color: #bbada0;

$cell-light-color: #f9f6f2;
$empty-cell-color: rgba(238, 228, 218, 0.35);
$full-cell-color: #eee4da;
$cell-4-color: #ede0c8;
$cell-8-color: #f2b179;
$cell-16-color: #f59563;
$cell-32-color: #f67c5f;
$cell-64-color: #f65e3b;
$cell-128-color: #edcf72;
$cell-256-color: #edcc61;
$cell-512-color: #edc850;
$cell-1024-color: #edc53f;
$cell-2048-color: #edc22e;
$cell-over-2048-color: #3c3a32;

$border-radius: 6px;
