$main-color: #776e65;
$main-background-color: #faf8ef;

$grid-background-color: #bbada0;
$empty-cell-color: rgba(238, 228, 218, 0.35);
$full-cell-color: #eee4da;
$new-game-button-color: #8f7a66;

$border-radius: 7px